.EntryContent {
    width: 50%;
    height: auto;
    background: rgba(102, 101, 101, 0.651);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid white;
    margin: 0 auto;
    font-style: normal;
}
.EntryContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 25px 0;
}

@media (max-width: 900px) {
    .EntryContent {
        font-size: small;
    }
    .EntryContent h2 {
        font-size: 20px;
    }
}