.DbInfo {
    width: 35%;
    height: auto;
    background-color: rgba(107, 11, 25, 0.733);
    margin: 15px 20px;
    border-radius: 8px;
    border: 1px solid white;
}
.DbInfo ul {
    text-align: left;
    list-style-type: none;
}
.DbInfo li {
    padding: 5px;
}
@media(max-width: 1300px) {
    .DbInfo {
        font-size: small;
    }
}