.DegContainer {
    margin: 20px 0 50px 30px;
    width: 70%;
    background-color:rgba(107, 11, 25, 0.733);
    border-radius: 8px;
    border: 1px solid white;
    padding: 5px;
}
.DegContainer button {
    margin-top: 5px;
    margin-bottom: 5px;
}
.DegContainer h2 {
    margin: 5px;
}
.DegHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.DegTable {
    margin: auto;
    text-align: center;
    color: white;
    width: 100%;
    border-collapse: collapse;
}
.GrayBack {
    background-color: rgba(26, 24, 24, 0.589);
}
.WarnInfo {
    color: red;
    margin: 5px;
}
@media(max-width: 1300px) {
    .DegTable {
        font-size: small;
    }
    .DegContainer h2 {
        font-size: 20px;
    }
    .DegTable button {
        font-size: 10px;
    }
    .WarnInfo {
        font-size: small;
    }
}
@media (max-width: 800px) {
    .DegTable {
        font-size: 10px;
    }
    .DegContainer h2 {
        font-size: 18px;
    }
}