.CategoryResultsTable {
    width: 85%;
    text-align: center;
    color: white;
    background-color: rgb(87, 20, 20);
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.CategoryResultsTable td {
    padding: 10px 15px;
}
.CategoryResultsTable thead {
    border-bottom: 1px solid white;
}
.CategoryResultsTable tr:nth-child(2n-1) {
    background-color: rgba(26, 24, 24, 0.589);
}
.CategoryResultsTable span {
    padding: 0 3px;
}
.CategoryResultsTable tbody tr:hover {
    border: 1px solid white;
    cursor: pointer;
}
@media(max-width: 1300px) {
    .CategoryResultsTable{
        font-size: small;
    }
}
@media(max-width: 1184px) {
    .CategoryResultsTable td {
        padding: 8px 10px;
    }
}
@media(max-width: 1040px) {
    .CategoryResultsTable td {
        padding: 5px 5px;
    }
    .CategoryResultsTable {
        width: 95%;
    }
}
@media(max-width: 900px) {
    .CategoryResultsTable td {
        padding: 5px 3px;
    }
    .CategoryResultsTable {
        font-size: 10px;
    }
}