main {
    width: 100%;
}
img {
    max-width: 100%;
}
.BackgroundApp {
    background: url('../../assets/images/wine_background.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    z-index: -100;
    padding-bottom: 50px;
}
