main {
    width: 100%;
}
img {
    max-width: 100%;
}
.tempFooter {
    background-color: rgba(128, 128, 128, 0.548);
    height: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}