main {
    width: 100%;
}
img {
    max-width: 100%;
}
.BackgroundApp {
    background: url('../../assets/images/App_background.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}
.BackgroundDeg {
    background-image: url('../../assets/images/Deg_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}