.ElementWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}
.SmallWrapper {
    width: 20%;
    height: auto;
    border: 1px solid white;
    border-radius: 8px;
    margin: 15px 20px;
    background-color: rgba(173, 121, 129, 0.603);
}
.ScrollWrapper {
    width: 80%;
    height: 35vh;
    border: 1px solid white;
    border-radius: 8px;
    margin: 15px 20px;
    padding: 0 10px;
    background-color: rgba(173, 121, 129, 0.603);
    overflow: scroll;
}
.ScrollWrapper::-webkit-scrollbar {
    width: .5rem;
}
.ScrollWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.ScrollWrapper::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 2px solid black;
    border-radius: 8px;
}

.FullWidthWrapper {
    width: 80%;
    height: 85vh;
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px 20px;
    background-color: rgba(173, 121, 129, 0.603);
    overflow: scroll;
}
.FullWidthWrapper::-webkit-scrollbar {
    width: .3rem;
}
.FullWidthWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.FullWidthWrapper::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 2px solid black;
    border-radius: 8px;
}

.DraggableWrapper {
    width: 45%;
    height: 25vh;
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px 20px;
    background-color: rgba(173, 121, 129, 0.603);
    overflow: scroll;

}
.DraggableWrapper::-webkit-scrollbar {
    width: .3rem;
}
.DraggableWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.DraggableWrapper::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 2px solid black;
    border-radius: 8px;
}
.GroupWrapper {
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
}
.GroupWrapper::-webkit-scrollbar {
    width: .3rem;
}
.GroupWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
.GroupWrapper::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid black;
    border-radius: 8px;
}

.DegInfoWrapper {
    width: 50%;
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px 20px;
    background-color: rgba(173, 121, 129, 0.603);
}
.ResulWrapper {
    width: 80%;
    height: 70vh;
    border: 1px solid white;
    border-radius: 8px;
    margin: 20px 20px;
    background-color: rgba(173, 121, 129, 0.603);
    overflow: scroll;
}
.ResulWrapper::-webkit-scrollbar {
    width: .3rem;
}
.ResulWrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.ResulWrapper::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 2px solid black;
    border-radius: 8px;
}

@media(max-width: 1300px) {
    .SmallWrapper {
        font-size: small;
    }
}
@media(max-width: 1040px) {
    .FullWidthWrapper {
        width: 90%;
    }
}