.HeaderCategoryChoose {
    text-align: left;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.HeaderCategoryChoose label {
    padding: 5px;
    padding-left: 90px;
}
.HeaderCategoryChoose button {
    margin: 10px;
}
@media(max-width: 1300px) {
    .HeaderCategoryChoose {
        font-size: small;
    }
    .HeaderCategoryChoose select {
        font-size: small;
    }
}