.ResultsTable {
    width: 85%;
    text-align: center;
    color: white;
    background-color: rgb(87, 20, 20);
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 10px; 
    margin-bottom: 20px;
}

.ResultsTable td {
    padding: 10px 15px;
}

.ResultsTableBody td {
    padding: 10px 15px;
}
.ResultsTableBody tr:hover {
    border: 1px solid white;
    cursor: pointer;
}
.ResultsTable tr:nth-child(2n-1) {
    background-color: rgba(26, 24, 24, 0.589);
}
.ResultsTable span {
    padding: 0 3px;
}
