.UserLabel {
    text-align: left;
    font-weight: bold;
    padding: 10px 0 0 0;
}
.UserInput {
    width: 100%;
    height: 1.5rem;
    border-radius: 0.5rem;
}
.InputMainContainer {
    display: flex;
    align-items: center;  
}
.UserSelect {
    width: 100%;
}
.Icon {
    margin: 0 5px;
    padding: 4px;
}
.Icon:hover {
    background-color: gray;
    border-radius: 8px;
}
.InputWrapper {
    padding: 5px 0px;
    text-align: left;
    width: 100%;
}

@media(max-width: 900px) {
    .UserLabel {
        font-size: small;
    }
}