.RatingSetting {
    width: 25%;
    height: auto;
    background-color: rgba(173, 121, 129, 0.603);
    margin: 15px 20px;
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;

}

.RatingSetting li {
    padding: 5px;
}
.RatingSetting label {
    margin: 0 50px;
}
.RatingSetting select {
    text-align: center;
    margin: 20px 50px;

}
.RatingSetting input {
    margin: 20px 50px;
}