.RatingSetting {
    width: 28%;
    height: auto;
    background-color: rgba(107, 11, 25, 0.733);
    margin: 15px 20px;
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.QrWrapper {
    background-color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 8px;
}
.RatingSetting canvas {
    margin: 0 auto;
    padding: 10px;
}
.RatingSetting ul {
    padding: 0;
}
.RatingSetting p {
    padding: 0;
    margin: 5px 0; 
}

.RatingSetting li {
    padding: 3px;
    list-style: none;
    padding: 0;
}
.RatingSetting label {
    margin: 0 50px;
}
.selectWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 50px;
}
.arrowDown {
    position: absolute;
    top: 3px;
    right: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: -1;
}
.RatingSetting select {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    padding-right: 30px;
}

.RatingSetting select:hover {
    cursor: pointer;
}
.RatingSetting input {
    margin: 20px 50px;
}
@media(max-width: 1300px) {
    .RatingSetting {
        width: 25%;
        font-size: small;
    }
    .RatingSetting select {
        width: 100%;
    }
}