.RatingSetting {
    width: 28%;
    height: auto;
    background-color: rgba(107, 11, 25, 0.733);
    margin: 15px 20px;
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.QrWrapper {
    background-color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 8px;
}
.RatingSetting canvas {
    margin: 0 auto;
    padding: 10px;
}
.RatingSetting ul {
    padding: 0;
}
.RatingSetting p {
    padding: 0;
    margin: 5px 0; 
}

.RatingSetting li {
    padding: 3px;
    list-style: none;
    padding: 0;
}
.RatingSetting label {
    margin: 0 50px;
}
.RatingSetting select {
    text-align: center;
    margin: 20px 50px;

}
.RatingSetting input {
    margin: 20px 50px;
}
@media(max-width: 1300px) {
    .RatingSetting {
        width: 25%;
        font-size: small;
    }
}