<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate</title>
</head>
<body style="margin: 0; padding: 0; display: flex; justify-content: center; align-items: center;">
    <div style="width:90%; height:90vh; margin: 20px; text-align:center;  display: flex; justify-content: center; align-items: center; border: 10px solid rgb(0, 0, 0)">
        <div style="width:93%; height:90%; padding:20px; background: url('http://localhost:8080/img/splash.png'); background-repeat: no-repeat; text-align:center; border: 5px solid rgb(129, 8, 8)">
               <h3 style="font-size:30px; font-weight:bold;">{{title}}</h3>
               <span style="font-size:25px; text-shadow: 2px 2px white;"><p>Predseda degustačnej komisie, udeľuje:</p></span>
               <h1 style="font-size:80px; font-weight:bold; margin: 10px 0; text-shadow: 5px 5px white;">DIPLOM</h1>
               <span style="font-size:35px; margin: 0; padding: 0;"><b>Za {{place}}. miesto v kategórii vín {{category}}. </b></span><br/><br/>
               <span style="font-size:20px"><i>{{producer}}</i></span> <br/><br/>
               <span style="font-size:30px"><i>{{wine}}</i></span><br/><br/>
               <div style="width: 100%; display: flex; justify-content: space-between;">
                <p style="font-size:15px; margin-top: 60px; margin-left: 100px;">{{date}}</p>
                <div style="width: 30%; margin-right: 100px; display: flex; flex-direction: column;">
                    <hr style="width:100%; height: 1px; margin: 0; margin-top: 60px; padding: 0;"><br></br>
                    <p style="font-size: 15px; padding: 0; margin: 0; margin-top: 10px;">{{chairman}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>