.WineGlass {
    padding: 5px;
    width: 40px;
    height: auto;
    margin: 0 auto;
}
.WineGlass img {
    width: 100%;
    height: auto;
}
@media(max-width: 1300px) {
    .WineGlass img {
        width: 30px;
    }
}
