.IdInput {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.IdInput label {
    text-align: left;
    font-weight: bold;
}
.IdInput select {
    border-radius: 8px;
    margin: 10px 0;
}

@media(max-width: 1300px) {
    .IdInput label {
        font-size: small;
    }
}