.ShowWineTable {
    width: 85%;
    text-align: center;
    color: white;
    background-color: rgb(87, 20, 20);
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.ShowWineTable td {
    padding: 10px 15px;
}
.ShowWineTable thead {
    border-bottom: 1px solid white;
}
.ShowWineTable tr:nth-child(2n-1) {
    background-color: rgba(26, 24, 24, 0.589);
}
.ShowWineTable span {
    padding: 0 3px;
}

@media(max-width: 1300px) {
    .ShowWineTable {
        font-size: small;
    }
}
@media(max-width: 880px) {
    .ShowWineTable {
        font-size: 10px;
    }
    .ShowWineTable td {
        padding: 8px 10px;
    }
}