.SendDataTable {
    text-align: center;
    color: white;
    width: 60%;
    background-color: rgb(87, 20, 20);
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.GrayBack {
    background-color: rgba(26, 24, 24, 0.589);
}
.SendBtns {
    display: flex;
    justify-content: center;
    padding: 1.5625rem;
}
